<!-- <div id='containerdiv' class="outer-container" fxLayout="column" *ngIf="system | async as sys">
  <div fxLayout="row">
    <div class="system-container" fxLayout="row" fxFlex *ngFor="let sy of sys">
      <app-system [node]="sy"></app-system>
    </div>
  </div>
  <div fxLayout="row">
    <div class="system-container" fxLayout="row" fxFlex>
      <app-system [node]="sys[1]"></app-system>
      <app-system [node]="sys[2]"></app-system>
    </div>
  </div>
</div> -->

<!-- <div *ngIf="system | async as sys">
  <div *ngFor="let sy of sys">
    <app-system [node]="sy"></app-system>
  </div>
</div> -->
