<!-- <<mat-toolbar>
  <div fxFlex>
    <span>Lost</span>
  </div>
  <mat-slide-toggle (change)="setMode()">Connect Mode</mat-slide-toggle>
</mat-toolbar>
<div fxLayout="column" *ngIf="system | async as sys">
  <div fxLayout="row">
    <div class="system-container" fxLayout="row" fxFlex>
      <app-system [system]="sys[0]"></app-system>
    </div>
  </div>
  <div fxLayout="row">
    <div class="system-container" fxLayout="row" fxFlex>
      <app-system [system]="sys[1]"></app-system>
      <app-system [system]="sys[2]"></app-system>
    </div>
  </div>
  <div fxLayout="row">
  </div>
</div> -->
<!-- <router-outlet></router-outlet> -->
<h1>Feed:</h1>
<div *ngIf="stuff | async as items">
  <ul>

    <li *ngFor="let item of items">{{ item.id }}</li>
  </ul>
</div>

