@import '~@angular/material/theming';

@include mat-core();
$primary: mat-palette($mat-indigo, 300, 200, 400);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-dark-theme($primary, $accent, $warn); // Or mat-dark-theme

@include angular-material-theme($theme);

html {
  font-family: 'Roboto', sans-serif;
  word-break: break-word;
}

.selected {
  background: #7986cb;
}

.disabled {
  opacity: 0.3;
}

.mat-checkbox-inner-container {
  height: 25px!important;
  width: 25px!important;
}

.jtk-connector { z-index:4; }
.jtk-endpoint { z-index:5; }
.jtk-overlay { z-index:6; }

.whcrit path {
  stroke: red;
  stroke-width: 2;
}

.whred path {
  stroke: yellow;
  stroke-width: 2;
}

.whnorm path {
  stroke: green;
  stroke-width: 2;
}

.tooltip-font {
  font-size: 20px!important;
}

mat-card:hover{
  cursor: pointer;
  background: #b4b4b433;
}
